@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul {
        padding: 30px;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
    }
    .testimonial-col img{
        margin-left: 0;
        margin-right: 15px;
    }
    .cta h1{
        font-size: 24px;
    }


}